rtl/xsim.dir/
rtl/.Xil/
*.jou
*.log
*.pb
*.wdb
*.dcp
reports/.Xil/
v3/xsim.dir/
v3/rtl/xsim.dir/
v3/.Xil/
v3/rtl/.Xil/
v3/*.jou
v3/*.log
v3/*.pb
v3/*.wdb
v3/*.dcp
v3/rtl/*.jou
v3/rtl/*.log
v3/rtl/*.pb
